body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}


a {
    text-decoration: none;
}


ul{
    list-style: none;
}


section {
    width: 100%;
    height: 95vh;
    background-image: url(./images/brick-wall.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    padding: 0px 5%;
}

nav ul {
    display: flex;

}

nav ul li a {
    display: flex;
    margin: 25px 25px 25px 25px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    font-family: Space monospace;
}


.name {
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    color: black;
    

}

.hero-text p:nth-child(1) {
    display: flex;
    font-size: xx-large;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.hero-text p:nth-child(2) {
    display: flex;
    font-size: x-large;
    color: whitesmoke ;
    font-family: monospace;
    
}


.hero-text {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.75);
    line-height: 1.7;
    align-items: center;
    justify-content: space-evenly;
    
}
.picture {
    display: flex;
    border: whitesmoke 2px dashed

}
.about-box{
    width: 80%;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    position: relative;
    margin-top: 20px;
    border: silver 5px solid;
 
   
}

.about-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: cursive;
}

.about-text p:nth-child(1) {
    font-size: x-large;
    font-weight: bolder;
}


.about-text p:nth-child(2),
.about-text p:nth-child(3) {
    font-size: 13px;
    font-weight: bold;
}


.work-box {
    width: 100%;
    height: 700px;
    border-radius: 20px;
    background-color: whitesmoke;

}
